# Data Types and Structures Questions

1. What are data structures, and why are they important
- Data structures are specialized format for organize and storing data also provide efficient way to manage information.
2. Explain the difference between mutable and immutable data types with examples
- the mutable data type such as list and dictionary, allow us to change value and data without effecting their identity. the immutable data type such as tuple and strings, dont allow us to inplace modification.
3. What are the main differences between lists and tuples in Python
- list are mutable data type and tuple are not.
4. Describe how dictionaries store data
- dictionary store data by objects or elements key and value.
5. Why might you use a set instead of a list in Python
- using a set in python instead of a list beacause of sets store unique element also set automatically remove dublicate element from the set of element.
6. What is a string in Python, and how is it different from a list
- string is a Characters arranged in an unchangeable order. Consider writing a sentence, a paragraph, or a piece of material. and a list are a collaction of elements which store data like string, numbers etc.
7. How do tuples ensure data integrity in Python
- tuple are a collection of element which is immutable data type so the data cant be change or modifiable so it enure the data integrity in python.
8. What is a hash table, and how does it relate to dictionaries in Python
- A hash table is a collection of associated pairs of items where each pair consists of a key and a value. Hash tables are often called the more general term map because the associated hash function “maps” the key to the value.
When a key-value pair is inserted, the hash function calculates an index for the key, and the value is stored at that location. When retrieving a value, the same hash function is applied to the key to quickly locate its corresponding value.
9. Can lists contain different data types in Python
- yes lists contain different data types in python.
10. Explain why strings are immutable in Python
- strings are arranged characters in a unchangeable order beacause of that strings are immutable in python.
11. What advantages do dictionaries offer over lists for certain tasks
- Dictionaries in Python offer fast data retrieval, unlike lists where we have to traverse through each element to find a value. Dictionaries use hash tables for quick access to values based on keys.
12. Describe a scenario where using a tuple would be preferable over a list
- List can be used if we need a mutable collection of items where we may need to add, remove, or change elements. Tuple can be used if we need an immutable collection where the elements won't change after creation.
13. How do sets handle duplicate values in Python
- Python's set data type manages duplicate values by disallowing them.an element that already exists within a set, the set remains unchanged, and the duplicate element is not added. This characteristic with the mathematical definition of a set, which is an unordered collection of unique elements.
14. How does the “in” keyword work differently for lists and dictionaries
- "in" keyword work for lists to find a value in list or present in list and for dictionary it checks the membership operations,also use in iteration for loop.  
15. Can you modify the elements of a tuple? Explain why or why not
- No we can not modify the elements of tuple becuase of immutable data type it cant be changeable after creation of elements.
16. What is a nested dictionary, and give an example of its use case
- A nested dictionary in Python is a dictionary that contains other dictionaries as its values. Essentially, it's a dictionary within a dictionary.
Example: This example creates a nested dictionary to store details of multiple students. Each student is added as a key and their information (name, age, grade) is stored in an inner dictionary.
17. Describe the time complexity of accessing elements in a dictionary
- Accessing elements in a dictionary (or hash table) typically has a time complexity of O(1) on average. This means that the time it takes to retrieve a value by its key is, on average, constant and doesn't depend on the size of the dictionary.
However, in the worst-case scenario (which is rare), the time complexity can be O(n), where n is the number of elements in the dictionary, due to hash collisions.
18. In what situations are lists preferred over dictionaries
- Lists are faster for index-based access, whereas dictionary lookups require computing a hash. Dictionaries require more memory, as they store keys along with values, unlike lists.
19. Why are dictionaries considered unordered, and how does that affect data retrieval
- A dictionary is an unordered collection of objects because dictionaries do not maintain any inherent order of the items based on when they were added. Dictionaries are retrieve values when the key is known.
20. Explain the difference between a list and a dictionary in terms of data retrieval.
- A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key: value pair. Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.

# Practical Questions

1. Write a code to create a string with your name and print it

In [2]:
name = input("Enter your name: ")
print(f"my name is {name}")

Enter your name: Hiten
my name is Hiten

2. Write a code to find the length of the string "Hello World"

In [3]:
a = "Hello World"
len(a)

11

3. Write a code to slice the first 3 characters from the string "Python Programming"

In [5]:
string = "Python Programming"
string[:3]

'Pyt'

4. Write a code to convert the string "hello" to uppercase

In [6]:
string1 = "hello"
string1.upper()

'HELLO'

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [7]:
list1 = "I like apple"
list1.replace("apple","orange")

'I like orange'

6. Write a code to create a list with numbers 1 to 5 and print it

In [8]:
a_list = [1,2,3,4,5]
print(a_list)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [9]:
a_list1 = [1,2,3,4]
a_list1.append(10)
print(a_list1)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [10]:
a_list2 = [1,2,3,4,5]
a_list2.remove(3)
print(a_list2)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [11]:
a_list3 = ['a', 'b', 'c', 'd']
a_list3[1]

'b'

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [12]:
a_list4 = [10, 20, 30, 40, 50]
a_list4.reverse()
print(a_list4)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [13]:
tuple1 = (100,200,300)
print(tuple1)

(100, 200, 300)

 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [14]:
a_tuple = ('red', 'green', 'blue', 'yellow')
a_tuple[-2]

'blue'

 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [15]:
a_tuple1 = (10, 20, 5, 15)
min(a_tuple1)

5

 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [16]:
a_tuple2 = ('dog', 'cat', 'rabbit')
a_tuple2.index("cat")

1

 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [17]:
a_tuple3 = ("apple","banana","kiwi")
"kiwi" in a_tuple3

True

 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [18]:
set1 = {'a', 'b', 'c'}
print(set1)

{'a', 'b', 'c'}

 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [19]:
set2 = {1, 2, 3, 4, 5}
set2.clear()
print(set2)

set()

 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [20]:
set3 = {1, 2, 3, 4}
set3.remove(4)
print(set3)

{1, 2, 3}

 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [21]:
a_set1 = {1, 2, 3}
a_set2 = {3, 4, 5}
a_set1.union(a_set2)

{1, 2, 3, 4, 5}

 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [22]:
set_1 = {1, 2, 3}
set_2 = {2, 3, 4}
set_1.intersection(set_2)

{2, 3}

 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [24]:
a_dict = {"name": "Hiten", "age": 25, "city": "Delhi Ncr"}
print(a_dict)

{'name': 'Hiten', 'age': 25, 'city': 'Delhi Ncr'}

 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [25]:
a_dict1 = {'name': 'Hiten', 'age': 25}
a_dict1["country"] = "USA"
print(a_dict1)

{'name': 'Hiten', 'age': 25, 'country': 'USA'}

 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [26]:
a_dict2 = {'name': 'Alice', 'age': 30}
a_dict2["name"]

'Alice'

 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [27]:
a_dict3 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del a_dict3["age"]
print(a_dict3)

{'name': 'Bob', 'city': 'New York'}

 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [28]:
a_dict4 =  {'name': 'Alice', 'city': 'Paris'}
"city" in a_dict4

True

 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [29]:
a_listt = [1,2,3]
a_tuplee = (1,2,3)
a_dictt = {"name": "Hiten", "age": 25, "city": "Delhi Ncr"}
print(a_listt)
print(a_tuplee)
print(a_dictt)

[1, 2, 3]
(1, 2, 3)
{'name': 'Hiten', 'age': 25, 'city': 'Delhi Ncr'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [33]:
a_listt = [1,5,10,42,15,30,7,99,37,17,26]
a_listt.sort()
print(a_listt)

[1, 5, 7, 10, 15, 17, 26, 30, 37, 42, 99]

28. Write a code to create a list with strings and print the element at the third index.

In [34]:
a_list5 = ["apple","banana","kiwi","orange"]
a_list5[2]

'kiwi'

 29. Write a code to combine two dictionaries into one and print the result.

In [35]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

 30. Write a code to convert a list of strings into a set.

In [36]:
x = ["apple","orange","kiwi","mengo"]
set(x)

{'apple', 'kiwi', 'mengo', 'orange'}